.root {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.content {
  align-items: start;
  flex: 3;
  justify-content: left;
  overflow: auto;
}

.result {
  align-items: start;
  color: #ffffff;
  background-color: #232323;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  padding: 1rem;
}

.input-section {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.textarea {
  resize: none;
}

.clear-section {
  text-align: right;
  width: 100%;
}
